<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memanager</title>
    <link href="{{ url_for('static', path='/base_css.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/init_meme.css') }}">
</head>
<body>
    <header>
        <h1>Main Memesis incorporaited.INC</h1>
        <nav><a>first</a><a>Two</a><a>Three</a></nav>
    </header>
    <content>
        {% block content %}
        {% endblock %}
    </content>
    <footer></footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/java_base.js') }}"></script>
</html>